{% for post in collections.blog | reverse %}
    <hr />
    <article class="article__preview">
      <h2>{{ post.data.title }}</h2>
      <small>
        <time>{{ post.data.created_at | readableDate }}</time>
      </small>
      {{ post.content | safe }}
    </article>
{% endfor %}

<hr />